/* HOME */
body{margin: 0;}
.logo{width: 200px;padding: 2%;display: block;margin: auto;}

/* ----------- Botões ------------*/
.btn-categorias a{cursor: pointer;; border: solid 1px transparent;padding: 1%;margin: 2px;border-radius: 8px;font-family: "Roboto",sans-serif;display:inline-block;}
.btn-categorias a:hover{border: solid 1px #000;}
.btn-categorias{text-align: center;padding: 2%;}

@media (max-width:45em){
    div.btn-categorias a{width: 40%;padding: 2%;}
}

.bloco-alimento{text-align:center;transition:.5s;display: inline-block;background: #ED7229;padding: 1%;border-radius: 8px;text-align: center;cursor: pointer;margin: 5px;font-family: "Roboto",sans-serif;}
.bloco-alimento:hover{opacity: 0.6;}
#res{text-align: center;}
.bloco-alimento::first-line{font-weight: 600;}

/* MENU DA HOME*/
nav.nav-home {width: 50%;}
div#menu-home{margin: auto}
#menu-home ul li.IMC{background: #E75757}#menu ul li.IMC:hover{background: #FF9083}
#menu-home ul li.Water{background: #38A3D8}#menu ul li.Water:hover{background: #99CDE3}
#menu-home ul li.Stair{background: #E6AA33}#menu ul li.Stair:hover{background: #FCD476}
#menu-home ul li.Diet{background: #ED7229}#menu ul li.Diet:hover{background: #FCB676}
#menu-home ul li{display:inline; width: 50%; text-align: center;font-size: 4em;}

/*      HEADER      */
header h1{font-family: 'Roboto' Condensed, sans-serif;text-align: center;}

/* MENU*/
#menu {text-align:center;}
#menu ul li {display: inline;}
div#menu ul{margin: 0;padding: 0;width: 100%;}
div#menu ul li {width: 20%;text-align: center;display: inline-block;margin:auto;}
#menu ul li a {font-family: 'Roboto', sans-serif;font-size: 1em;text-decoration: none;color: #fff;display: block;text-align: center;padding: 1em;}

/* MENU ITENS INDIVIDUALMENTE*/
#menu ul li.IMC{background: #E75757}#menu ul li.IMC:hover{background: #FF9083}
#menu ul li.Water{background: #38A3D8}#menu ul li.Water:hover{background: #99CDE3}
#menu ul li.Stair{background: #E6AA33}#menu ul li.Stair:hover{background: #FCD476}
#menu ul li.Diet{background: #ED7229}#menu ul li.Diet:hover{background: #FCB676}

/*Botões das categorias do Diet.fy*/
.bloco-alimento{
    transition-duration: 1s;
    opacity: 1;
}
