.btn-categorias a {
    cursor: pointer;
    border: solid 1px transparent;
    padding: 1%;
    margin: 2px;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    display: inline-block
}

.btn-categorias a:hover {
    border: solid 1px #000
}

.btn-categorias {
    text-align: center;
    padding: 2%
}

@media (max-width:45em) {
    div.btn-categorias a {
        width: 40%;
        padding: 2%
    }
}

.bloco-alimento {
    text-align: center;
    transition: .5s;
    display: inline-block;
    background: #ED7229;
    padding: 1%;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    font-family: "Roboto", sans-serif;
}

.bloco-alimento {
    max-height: 150px;
    min-width: 200px;
    text-align: center;
    transition: .5s;
    display: inline-block;
    background: #ED7229;
    padding: 1%;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    font-family: "Roboto", sans-serif;
}

.bloco-alimento div {
    border: 2px dashed #fff;
    padding: 2%;
    border-radius: 8px;
}

.bloco-alimento:hover {
    opacity: 0.6;
}

#res {
    text-align: center;
}

.bloco-alimento::first-line {
    font-weight: 600;
}

.bloco-alimento {
    transition-duration: 1s;
    display: inline-block;
    opacity: 1;
}

.kcal-marcador {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto, sans-serif;
    font-size: 2em;
    background: rgba(255, 255, 255, .4);
    border-radius: 100%;
    border: dashed 5px;
    padding: 20%
}
